* {
    margin: 0;
    padding: 0;

    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;

    background-color: #E8D9FF;

    color: #4212AF;
}

button {
    background-color: transparent;
    border: none;
    outline: none   ;
}

/* Шапка сайта */

header {
    display: flex;
    flex-direction: row;

    margin-bottom: 2%;
    border-bottom: 2px solid #7E07A9;
    padding-bottom: 1%;
    border-radius: 10px;
}

header >button > img {
    display: none;
    background-color: #DFCBFF;
    border-radius: 100%;
}

header > h1 {
    margin-right: 15%;
    font-weight: normal;

    font-size: 3.5vmax;
}

header > button {
    margin-right: 35%;
    width: 24%;

    font-size: 1vw;

    color: #4212AF;
    border: 3px solid #7E07A9;
    border-radius: 10px;
    background-color: #DFCBFF;
}

/* Структура данных о погоде */

.structure {
    display: flex;
    flex-direction: column;
}

.structure > li {
    margin-bottom: 3%;
}

.main-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Избранный город */

h2 {
    font-size: 4vw;
}

.main-city > .weather_info {
    width: 46%;
}

.weather_info {
    display: flex;
    flex-direction: column;
/*    width: 47%; */

    padding: 1%;
    border: 1px solid #7E07A9;
    border-radius: 10px;

    background-color: #DFCBFF;
}


.weather_info > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.weather_info > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 1%;

    border: 2px solid #7E07A9;
    border-radius: 7px;
    font-size: 1.5vw;
}

.weather_info > ul > li > p:first-child {
    font-weight: bold;
    margin-right: auto;
}


.weather_info > ul > li > p:last-child {
    text-align: end;
}


.favorite-city-main-info {
    display: flex;
    flex-direction: column;

    width: 46%;
}

.favorite-city-main-info > div {
    display: flex;
    flex-direction: row;

    height: 100%;
}


.favorite-city-main-info > div > p {
    margin: auto;
    text-align: center;

    font-size: 12vw;
}

.favorite-city-main-info > div > img {
    height: 100%;
}

/* Избранное */

.favorite-panel {
    display: flex;
    flex-direction: row;

    height: 100%;

    border-bottom: 2px solid #7E07A9;
    border-top: 2px solid #7E07A9;
    border-radius: 5px;
}

h3 {
    font-size: 3.5vw;
    margin-right: auto;
    font-weight: normal;
}

.add-city {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 48%;
}

.add-city > input {
    width: 100%;
    height: 80%;

    font-size: 1.5vw;
    color: #4212AF;
    text-indent: 10%;

    border: 1px solid #7E07A9;
    background-color: #DFCBFF;

    outline: #8900ac;
}

.add-city > button {
    border: none;
    width: 14%;
    background-color: #DFCBFF;
    border-radius: 100%;

    margin-left: 2%;
}

.add-city > button > img {
    width: 100%;
}

/* Список городов */

.weather-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4%;
    grid-row-gap: 2%;
}


.weather_info > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 3vw;
}

.weather_info > div > p:nth-child(2),
.weather_info > div > img {
    margin-right: 5%;
    margin-left: auto;
}

.weather_info > div > button {
    margin-left: auto;
}

.weather_info > div > p:first-child {
    font-weight: bold;
}


.weather_info > ul > li:not(:last-child) {
    margin-bottom: 2%;
}

.weather_info > div > img {
    width: 15%;
}

.weather_info > div > button {
    width: 10%;
}

.weather_info > div > button > img {
    width: 100%;
}

/* Интерактив */

button:hover {
    transform: scale(0.95, 0.95);
}

.windows8 {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
}

.windows8 .wBall1,
.windows8 .wBall2,
.windows8 .wBall3,
.windows8 .wBall4,
.windows8 .wBall5,
.windows8 .wBall6 {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall1 .wInnerBall,
.windows8 .wBall2 .wInnerBall,
.windows8 .wBall3 .wInnerBall,
.windows8 .wBall4 .wInnerBall,
.windows8 .wBall5 .wInnerBall,
.windows8 .wBall6 .wInnerBall {
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 .wBall1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 .wBall2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 .wBall3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 .wBall4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 .wBall5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}